<html>

<head>
    <link rel="stylesheet" href="css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Barrio' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>MovieNow</title>
</head>

<body>
    <header style="text-align: center">
        <h1 style="font-family: 'Barrio'"><a style="font-size: 60px" href="/">MovieNow</a></h1>
    </header>
    <nav id="nologin">
        <ul>
            <li><a class="active" href="/">Discover</a></li>
            <li><a href="random">Random</a></li>
            <li style="float: right"><a href="/register">Register</a></li>
            <li style="float: right"><a href="/login">Login</a></li>
        </ul>
    </nav>
    <section class="search">
        <input type="text" placeholder="Search for a movie" id="searchText">
        <button class="searchBtn"><i class="fa fa-search"></i></button>
    </section>
    <br>
    <br>
    <div class="photogallery">
        <img src="../images/indexPic.PNG">
    </div>

    <script src='../js/jquery-3.3.1.min.js'></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../js/index.js"></script>
</body>

</html>
